<main>
    <div>
        <li><b>Producto N° {{producto.id}}</b></li>
        <h2>{{producto.title}}</h2>
        <p><b>precio:</b> ${{producto.price}}</p>
        <label><b>fotos: </b></label><br>
        <img src="{{producto.thumbnail}}" alt="{{producto.title}}" height="200px" width="200px">
    </div>
    <button><a href="../productos">Volver</a></button>
</main>